.product {
  display: grid;
  grid-template-areas:
    "image name actions"
    "image description actions";
  grid-template-columns: 100px 1fr 150px;
  border: 2px solid black;

  &-image {
    width: 100px;
    height: 100px;
    grid-area: image;
  }
  
  &-name {
    height: 36px;
    font-size: 16px;
    grid-area: name;
    padding: 4px;
  }

  &-description {
    font-size: 12px;
    height: 64px;
    grid-area: description;
    padding: 8px;

  }

  &-actions {
    grid-area: actions;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}